<div class="login">
  <div class="login__form">
    <ttc-progress-bar *ngIf="apiInProgress"></ttc-progress-bar>
    <h3>Login</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-----------email---------- -->
      <div class="form-field">
        <label>Email </label>
        <input formControlName="email" type="text">
        <ttc-error [formEle]="getFormControl('email')"></ttc-error>
      </div>

      <!-----------password---------- -->
      <div class="form-field">
        <label>Password </label>
        <input formControlName="password" type="password">
        <ttc-error [formEle]="getFormControl('password')"></ttc-error>
      </div>


      <div class="form-field">
        <button type="submit" class="register__button" [disabled]="!form.valid">Login</button>
      </div>
      <a class="link" routerLink="/register">Click Here to Register</a>

    </form>
  </div>
</div>
