:root {
	--background-color: #181818;
	--box-color: #131315;
	--background-700: #f0f0f3;
	--background-600: #a7a7a9;
	--text-color: #bcbcbc;
	--input-color: #eeeeee;
	--input-bg: #1d1d1d4d;
	--input-border: #41414159;
	--error: #ea6565;
	--buton-bg: #027736;
	--buton-color: #fff;
	--border-color: #181818;
	--shadow: 0 0 19px 0 #221b1b;

}


// light

