:root {
	--background-color: #181818;
	--box-color: #131315;
	--background-700: #f0f0f3;
	--background-600: #a7a7a9;
	--text-color: #bcbcbc;
	--input-color: #eeeeee;
	--input-bg: #1d1d1d4d;
	--input-border: #41414159;
	--error: #ea6565;
	--buton-bg: #027736;
	--buton-color: #fff;
	--border-color: #181818;
	--shadow: 0 0 19px 0 #221b1b;

	//--background-color: #efefef; // 900
	//--box-color: #ffffff;
	//--background-700: #f0f0f3;
	//--background-600: #a7a7a9;
	//--text-color: #333;
	//--input-color:#eeeeee;
	//--input-bg:#eeeeee4d;
	//--input-border: #98979759;
	//--error: #ea6565;
	//--buton-bg: #708090;
	//--buton-color: #fff;
	//--border-color: #e6e6e6;
	//--shadow: 0 0 27px 0 #c1bcbc;
}


// light

