.pagination {
	width: auto;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&__page {
		font-size: 0.9rem;
		padding: 3px 8px;
		border: 1px solid var(--border-color);
		margin: 6px;
		cursor: pointer;

		&--selected {
			background: var(--buton-bg);
		}
		&:hover {
			background:  var(--buton-bg);
		}
	}

}
