<div class="dash">
	<div class="dash__header">
		<h1 class="dash__title">Photos</h1>
		<div class="form-field dash__header__search" >
			<input  (keyup)="updateSearch($event)"
				   class="dash__header__search__input" type="text" placeholder="Search">
		</div>
		<button class="dash__add" (click)="openUpload()">+ ADD</button>
	</div>
	<ttc-progress-bar *ngIf="loader"></ttc-progress-bar>
	<ng-container *ngIf=" (this.image$ | async) as images">
		<h2 class="dash__error-message" *ngIf="images.length === 0">No Images found!</h2>
		<div class="dash__photos">
			 <ttc-photo-card class="photo " *ngFor="let image of images; trackBy:getImageId" [ngClass]="'large'"   [image]="image" ></ttc-photo-card>
		</div>
	</ng-container>

	<div class="pagination">
		<div class="pagination__page"
			 [ngClass]="{'pagination__page--selected': ((page -1) * queryParams.limit) == queryParams.skip  }"
			 (click)="goToPage(page)" *ngFor="let page of paginationArray">{{page}}</div>
	</div>
</div>


<ng-template #loading>
	<h2>No Images found</h2>
 </ng-template>
